body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
  filter: brightness(0.8);
}
#message-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: aliceblue;
  overflow-y: hidden;
  height: 200px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.3);
}
#input-section {
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin: 5px;
}
button,
#input-section select,
#message-form input {
  width: 250px;
  height: 100%;
  font-size: 20px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
  font-family: "Retrosans";
  color: aliceblue;
  text-align: center;
}
#message-form input::placeholder {
  color: white;
}
button,
#input-section select {
  width: 100px;
  height: 50px;
  color: black;
  padding: 0;
}
